
@font-face {
  src: url(fonts/modulus.ttf);
  font-family: modulus;
}

@font-face {
  src: url(fonts/modulus-medium.ttf);
  font-family: modulus-medium;
}

@font-face {
  src: url(fonts/modulus-bold.otf);
  font-family: modulus-bold;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #cce6e6;
}

.container {
  max-width: 1000px;
}
/*
.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
}

.my-col {
  border: 3px dotted blue;
}
*/
#title-row {
  padding-top: 270px;
}

#masher-icon {
  height: 70px;
}

#main-title {
  font-family: modulus-bold;
  font-size: 80px;
  line-height: 1.2;
}

.standard-text {
  font-family: modulus-medium;
}

a:hover {
  text-decoration-line: none;
}

.search-box {
  background: #f5f6fa;
  height: 60px;
  width: 500px;
  padding: 10px;
  border-radius: 999px;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #7f8fa6;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 420px;
}

.mood-button {
  border-radius: 999px;
  background-color: #7f8fa6;
  border: none;
}

#mood-row {
  margin-top: 20px;
}

.section-title {
  font-family: agaramond-bold;
  font-size: 80px;
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 40px;
}

.project-column {
  margin-left: 20px;
}

.project-subtitle {
  font-family: agaramond-bold;
  font-size: 24px;
}

#projects-mac-image {
  max-height: 150px;
}

.about-section-image {

}

.about-section-caption {
  font-size: 13px;
  color: #808080
}

#spotify-caption {
  font-style: italic;
}
.my-button {
  margin-bottom: 7px;
}
